<!-- For displaying scholarships in a list -->
{# TODO: AUTHORIZATION FOR ACTIONS #}
{% load scholarship_permission_tags %}
<div class="tile" style="display: table; width: 100%;">
    <div class="tile-content">
        <p class="tile-title"><h5>{{ scholarship.title }}</h5></p>
        <p class="tile-subtitle">
            {% for field in scholarship.fields.all %}
                <span class="chip bg-secondary">{{ field.field_name }}</span>
            {% endfor %}
            {% for key_word in scholarship.key_words.all %}
                <span class="chip bg-secondary">{{ key_word.key_word }}</span>
            {% endfor %}
        </p>
    </div>
    {% get_user_can_edit_scholarship user scholarship as user_can_edit_scholarship %}
    {% if user_can_edit_scholarship %}
        <div class="tile-action p-2" style="height:100%; width: 40px; vertical-align: middle; display: table-cell;">
            <a class="btn btn-primary" href="{% url "view-scholarship" scholarship_id=scholarship.id %}">View</a>
        </div>
        <div class="tile-action p-2" style="height:100%; width: 40px; vertical-align: middle; display: table-cell;">
            <button class="btn btn-primary">Edit</button>
        </div>
        <div class="tile-action p-2" style="height:100%; width: 40px; vertical-align: middle; display: table-cell;">
            <button class="btn btn-primary">Delete</button>
        </div>
    {% elif user.get_role == STUDENT %}
        <div class="tile-action p-2" style="height:100%; width: 40px; vertical-align: middle; display: table-cell;">
            <a class="btn btn-primary" href="{% url "view-scholarship" scholarship_id=scholarship.id %}">View</a>
        </div>
    {% elif user.get_role == ADMIN %}
        {# TODO: Admin actions #}
    {% endif %}
</div>