{% extends 'base.html' %}
{% block content %}
    <div class="columns">
        <div class="column col-8 col-mx-auto text-center">
            <div class="panel">
                <div class="panel-header">
                        {% block homepage_header %}
                        {% endblock %}
                </div>
                <div class="panel-nav">
                    {% block homepage_nav %}
                    {% endblock %}
                </div>
                <div class="panel-body">
                    {% block homepage_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}