{% extends 'profiles/homepage/homepage_base_centered.html' %}

{% block homepage_header %}
    {% if user.is_superuser %}
        Welcome, {{ user.username }}. Let's get set up:
    {% else %}
        Hi {{ user.username }}! It looks like you got interrupted while creating your profile. Let's get you set up:
    {% endif %}
{% endblock %}

{% block homepage_nav %}
{% endblock %}

{% block homepage_content %}
    {% if user.is_superuser %}
        <div class="columns m-2">
            <div class="column text-center vertical-margins-xl">
                <a href="{% url "setup-admin" %}" class="btn btn-primary">Setup Profile</a>
            </div>
        </div>
    {% else %}
        <div class="columns m-2">
            <div class="column text-center vertical-margins-xl">
                <a href="{% url "setup-student" setup_stage=0 %}" class="btn btn-primary">I'm a Student</a>
            </div>
            <div class="divider-vert" data-content="OR"></div>
            <div class="column text-center vertical-margins-xl">
                <a href="{% url "setup-donor" %}" class="btn btn-primary">I'm a Donor</a>
            </div>
        </div>
    {% endif %}
{% endblock %}