.vertical-margins-m {
    margin-top:30px;
    margin-bottom:30px;
}

.vertical-margins-xl {
    margin-top:60px;
    margin-bottom:60px;
}

.top-margin-s {
    margin-top: 15px;
}

.bottom-margin-m {
    margin-bottom: 30px;
}

.key-word-autocomplete {
    position: relative;
}
.key-word-autocomplete-menu {
    position: absolute;
    display: block;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}
