.vertical-margins-m {
    margin-top:30px;
    margin-bottom:30px;
}

.vertical-margins-xl {
    margin-top:60px;
    margin-bottom:60px;
}

.top-margin-s {
    margin-top: 15px;
}

.bottom-margin-m {
    margin-bottom: 30px;
}

