<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Untitled Scholarship Application</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'spectre.css' %}">
</head>
<body>
    <header class="navbar m-2">
        <section class="navbar-section">
            <a href="{% url "index" %}" class="navbar-brand mr-2">USA</a>
            <a href="#" class="btn btn-link">Scholarships</a>
            <a href="#" class="btn btn-link">Tasks</a>
        </section>
        <section class="navbar-section">
            {% if user.is_authenticated %}
                <a href="{% url "logout" %}" class="btn btn-link">Logout</a>
            {% else %}
                <a href="{% url "login" %}" class="btn btn-link">Login</a>
                <a href="{% url "register-student" %}" class="btn btn-link">Sign Up</a>
            {% endif %}
        </section>
    </header>
    <div class="divider"></div>
    <div class="columns mt-2 mb-2"></div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>