{% extends 'base.html' %}
{% block content %}
    {% if profile %}
        {% if profile.profile_type == "S" %}
            <div class="columns">
                <div class="col-8 col-mx-auto text-center">
                    <h2>{{ profile.first_name }} {{ profile.last_name }} -- Student</h2>
                </div>
            </div>
        {% elif profile.profile_type == "A" %}
            <div class="columns">
                <div class="col-8 col-mx-auto text-center">
                    <h2>{{ profile.first_name }} {{ profile.last_name }} -- Admin</h2>
                </div>
            </div>
        {% elif profile.profile_type == "D" %}
            <div class="columns">
                <div class="col-8 col-mx-auto text-center">
                    <h2>{{ profile.first_name }} {{ profile.last_name }} -- Donor</h2>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="columns">
            <div class="column col-6 col-mx-auto">
                Hi {{ user.username }}! It looks like you got interrupted while creating your profile. Let's get you set up:
                <div class="columns m-2">
                    <div class="column text-center" style="margin-top:60px;margin-bottom:60px;">
                        <a href="{% url "student-profile-setup" setup_stage=0 %}" class="btn btn-primary">I'm a Student</a>
                    </div>
                    <div class="divider-vert" data-content="OR"></div>
                    <div class="column text-center" style="margin-top:60px;margin-bottom:60px;">
                        <a href="{% url "donor-profile-setup" setup_stage=0 %}" class="btn btn-primary">I'm a Donor</a>
                    </div>
                </div>
            </div>
        </div>



    {% endif %}
{% endblock %}