<div class="columns">
    <div class="column text-center top-margin-s">
        <a href="{% url "setup-organization" %}" style="text-decoration: none;" class="text-primary">
        <div class="card">
            <div style="font-size: 96px;" class="bg-primary">
                <i class="fas fa-plus-square"></i>
            </div>
            <div class="card-header">
                <div class="card-title h5">New Donor Profile</div>
            </div>
            <div class="card-body">
                If your organization is entirely new to our service, or if you are an individual donor,
                click here to set up your donor profile.
            </div>
            <div class="card-footer">
                <a href="{% url "setup-organization" %}" class="btn btn-primary">Set Up Donor Profile</a>
            </div>
        </div>
        </a>
    </div>
    <div class="divider-vert" data-content="OR"></div>
    <a href="#" style="text-decoration: none;">
    <div class="column text-center top-margin-s">
        <div class="card">
            <div style="font-size: 96px;" class="bg-primary">
                <i class="fas fa-sign-in-alt"></i>
            </div>
            <div class="card-header">
                <div class="card-title h5">Join Existing Organization</div>
            </div>
            <div class="card-body">
                If your organization is already using our service, click here to get set up
                with your existing profile.
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Join Existing Organization</a>
            </div>
        </div>
    </div>
    </a>
</div>