{% extends 'base.html' %}
{% block content %}
    <div class="columns">
        <div class="column col-6 col-mx-auto">

            <form method="post" action="{% url 'setup-student' setup_stage %}" enctype="multipart/form-data">
                <ul class="step">
                    {% if setup_stage == 0 %}
                        <li class="step-item active">
                            <a href="#" class="tooltip" data-tooltip="Basic Information">Step 1</a>
                        </li>
                    {% else %}
                        <li class="step-item">
                            <a href="#" class="tooltip" data-tooltip="Basic Information">Step 1</a>
                        </li>
                    {% endif %}

                    {% if setup_stage == 1 %}
                        <li class="step-item active">
                            <a href="#" class="tooltip" data-tooltip="Profile Details">Step 2</a>
                        </li>
                    {% else %}
                        <li class="step-item">
                            <a href="#" class="tooltip" data-tooltip="Profile Details">Step 2</a>
                        </li>
                    {% endif %}
                    {% if setup_stage == 2 %}
                        <li class="step-item active">
                            <a href="#" class="tooltip" data-tooltip="Avatar">Step 3</a>
                        </li>
                    {% else %}
                        <li class="step-item">
                            <a href="#" class="tooltip" data-tooltip="Avatar">Step 3</a>
                        </li>
                    {% endif %}
                    {% if setup_stage == 3 %}
                        <li class="step-item active">
                            <a href="#" class="tooltip" data-tooltip="School">Step 4</a>
                        </li>
                    {% else %}
                        <li class="step-item">
                            <a href="#" class="tooltip" data-tooltip="School">Step 4</a>
                        </li>
                    {% endif %}
                    {% if setup_stage == 4 %}
                        <li class="step-item active">
                            <a href="#" class="tooltip" data-tooltip="Timeline and Finances">Step 5</a>
                        </li>
                    {% else %}
                        <li class="step-item">
                            <a href="#" class="tooltip" data-tooltip="Timeline and Finances">Step 5</a>
                        </li>
                    {% endif %}

                </ul>
                <div class="form-group">
                    {% csrf_token %}
                    {% if error %}
                        <div class="toast-error">
                            {{ error }}
                            <button class="btn btn-clear float-right"></button>
                        </div>
                    {% endif %}
                    {% include "profiles/basic_setup.html" %}
                    {% if setup_stage == 3%}
                        <label for="id_student_type" class="form-label">I am a...</label>
                        <select id="id_student_type" class="form-select" name="student_type">
                            {% if student_type == "H" %}
                                <option value="H" selected="selected">High School Student</option>
                            {% else %}
                                <option value="H">High School Student</option>
                            {% endif %}
                            {% if student_type == "C" %}
                                <option value="C" selected="selected">College Student</option>
                            {% else %}
                                <option value="C">College Student</option>
                            {% endif %}
                            {% if student_type == "G" %}
                                <option value="G" selected="selected">Graduate School</option>
                            {% else %}
                                <option value="G">Graduate Student</option>
                            {% endif %}
                        </select>
                        <label for="id_school" class="form-label">My School:</label>
                        <input id="id_school" type="text" value="{{ school }}" name="school" class="form-input" required>
                    {% else %}
                        <input type="hidden" name="student_type" value="{{ student_type }}">
                        <input type="hidden" name="school" value="{{ school }}">
                    {% endif %}
                    {% if setup_stage == 4 %}
                        <label for="id_dob" class="form-label">Date of Birth:</label>
                        <input id="id_dob" type="date" value="{{ dob }}" name="dob" class="form-input" required>
                        <label for="id_hs_grad_year" class="form-label">{{ HS_GRADUATION_LABEL_TEXT }}</label>
                        <input id="id_hs_grad_year" type="text" name="hs_grad_year" value="{{ hs_grad_year }}" class="form-input" pattern="[0-9]+" required>
                        <label for="id_college_grad_year" class="form-label">{{ COLLEGE_GRADUATION_LABEL_TEXT }}</label>
                        <input id="id_college_grad_year" type="text" name="college_grad_year"
                               value="{{ college_grad_year }}" required class="form-input" pattern="[0-9]+">
                        <label for="id_hometown" class="form-label">Home Town:</label>
                        <input id="id_hometown" type="text" name="hometown" value="{{ hometown }}"
                               required class="form-input">
                        {% if student_type != "H" %}
                            <label for="id_college_town" class="form-label">College Town:</label>
                            <input id="id_college_town" type="text" name="college_town" required
                                   value="{{ college_town }}" class="form-input">
                        {% else %}
                            <input type="hidden" name="college_town" value="{{ college_town }}">
                        {% endif %}
                        <label for="id_tuition" class="form-label">Tuition Goal:</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input required id="id_tuition" type="text" name="tuition" value="{{ tuition }}"
                                   class="form-input"
                                   pattern="^\\$?(([1-9](\\d*|\\d{0,2}(,\\d{3})*))|0)(\\.\\d{1,2})?$">
                            {# match monetary amounts, from https://stackoverflow.com/questions/5963158/html5-form-input-pattern-currency-format #}
                        </div>
                    {% else %}
                        <input type="hidden" name="dob" value="{{ dob }}">
                        <input type="hidden" name="hs_grad_year" value="{{ hs_grad_year }}">
                        <input type="hidden" name="college_grad_year" value="{{ college_grad_year }}">
                        <input type="hidden" name="hometown" value="{{ hometown }}">
                        <input type="hidden" name="college_town" value="{{ college_town }}">
                        <input type="hidden" name="tuition" value="{{ tuition }}">
                    {% endif %}

                    {% if setup_stage > 0 %}
                        <button type="submit" value="previous" name="action" class="btn btn-primary mt-2">Previous</button>
                    {% endif %}
                    {% if setup_stage == 4 %}
                        <button type="submit" value="next" name="action" class="btn btn-primary mt-2">Save Profile</button>
                    {% else %}
                        <button type="submit" value="next" name="action" class="btn btn-primary mt-2">Next</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

{% endblock %}